/* styles/NavBar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0303b5;
  padding: 10px;
  position: relative; /* Para posicionar correctamente los resultados de búsqueda */
}

.leftSection {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navList li a {
  color: white;
  text-decoration: none;
}

.searchForm {
  display: flex;
  align-items: center;
}

.searchInput {
  border-radius: 5px;
  padding: 8px 15px;
  margin-right: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 200px; /* Ajusta el ancho según sea necesario */
}

.searchButton {
  padding: 5px 10px;
  background-color: white;
  color: #0404e2;
  border: none;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0404e2;
  color: white;
}

.signOutButton {
  background-color: #0404e2;
  color: white;
  border: none;
  cursor: pointer;
}

.searchResults {
  position: absolute;
  top: calc(100% + 10px); /* Posiciona los resultados debajo del input */
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.searchResult {
  padding: 10px;
  cursor: pointer;
}

.searchResult:hover {
  background-color: #f0f0f0;
}