.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  padding: 10px;
}

.leftSection {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 20px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navList li a {
  color: white;
  text-decoration: none;
}

.searchForm {
  display: flex;
  align-items: center;
}

.searchInput {
  border-radius: 5px;
  /* Borde redondeado más sutil */
  padding: 8px 15px;
  /* Ajuste del relleno para mejor apariencia */
  margin-right: 10px;
  border: 1px solid #ccc;
  /* Añadir un borde para una mejor apariencia */
  font-size: 16px;
  /* Ajuste del tamaño de fuente */
}

.searchButton {
  padding: 5px 10px;
  background-color: white;
  color: pink;
  border: none;
  cursor: pointer;
}

.searchButton:hover {
  background-color: pink;
  color: white;
}