.post {
  width: 100%; 
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 20px;
  box-sizing: border-box; 
}
.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.userInfo img {
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
}

.actions button {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions button:hover {
  background-color: #f9f9f9;
}
.imagenpost{
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  max-height: 300px; /* Ajusta la altura máxima según sea necesario */
  object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
}