.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(239, 139, 139, 0.1);
    font-family: 'Arial', sans-serif;
}

.profileHeader {
    text-align: center;
    margin-bottom: 20px;
    background: #8787fb; /* Fondo gris claro */
    color: #333; /* Texto oscuro */
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px; /* Tamaño de fuente ajustado */
}

.profileInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profileImage {
    margin-right: 20px;
    flex: 0 0 auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profileImage img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.profileImage:hover img {
    transform: scale(1.1);
}

.userInfo {
    flex: 1;
    font-size: 16px; /* Tamaño de fuente ajustado */
    color: #333;
}

.userInfo label {
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    display: block;
    margin-top: 10px;
}

/* Estilos para los botones */
.buttonContainer {
    text-align: center;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.button.delete {
    background-color: #dc3545;
}

.button.delete:hover {
    background-color: #c82333;
}

.profilechangeinage {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.postsList {
    margin-top: 20px;
}

.postItem {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.postItem h3 {
    margin-top: 0;
}

.postImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}